# === NileFlow Dependencies ===

# Kafka
confluent-kafka==2.6.1

# Spark
pyspark==3.5.3

# Databases
psycopg2-binary==2.9.10
cassandra-driver==3.30.0
pyasyncore==1.0.4

# Redis
redis==5.2.1

# HTTP / API calls
requests==2.32.3

# Dashboard
streamlit==1.41.1
folium==0.18.0
streamlit-folium==0.23.1
plotly==5.24.1

# Airflow (installed separately in its container)
# apache-airflow==2.10.4

# Utilities
python-dotenv==1.0.1
